.container {
  width: 100%;
  max-width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
}

.item {
  max-width: 400px;
  height: 230px;
  margin-left: 50px;
}

.item-wrapper {
  position: relative;
  border: 1px solid red;
}

.item-text {
  text-align: center;
  border: 1px solid orange;
}

.item-img {
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid green;
}

.item img {
  width: 100%;
}

.sticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  min-width: 19px;
  left: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sticker-text {
  padding: 10px 2px 0 3px;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: white;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.sticker-red {
  background: -webkit-gradient(linear, left bottom, left top, from(#c01414), color-stop(57.03%, rgba(187, 3, 3, 0)));
  background: linear-gradient(0deg, #c01414 0%, rgba(187, 3, 3, 0) 57.03%);
}

.sticker-gray {
  background: -webkit-gradient(linear, left bottom, left top, from(#7c7c7c), color-stop(54.28%, rgba(187, 3, 3, 0)));
  background: linear-gradient(0deg, #7c7c7c 0%, rgba(187, 3, 3, 0) 54.28%);
}

.sticker-lightblue {
  background: -webkit-gradient(linear, left bottom, left top, from(#03b0bb), color-stop(55.76%, rgba(187, 3, 3, 0)));
  background: linear-gradient(0deg, #03b0bb 0%, rgba(187, 3, 3, 0) 55.76%);
}
